<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동적 로그인 실습</title>
    <!-- axios 실습 위한 axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>실습2. axios post 로그인</h2>
    <h4>아이디는 kiwi, 패스워드는 4321 입니다.</h4>
    <form name="login2">
      <label for="id">아이디</label>
      <input type="text" id="id" name="id" />
      <label for="pw">비밀번호</label>
      <input type="password" id="pw" name="pw" />
      <button type="button" onclick="axiosPost();">로그인</button>
      <br />
      <br />
      <div class="result2"></div>
    </form>

    <script>
      const resultBox2 = document.querySelector(".result2");
      async function axiosPost() {
        const form = document.forms["login2"];
        const formInfo = { 
          id: form.id.value,
          pw: form.pw.value };

        axios({
          url: "/axios2",
          method: "POST",
          data: formInfo,
        }).then((response) => {
          console.log(response);
          if (response.data.isLogin) {
            resultBox2.textContent = `${response.data.userInfo.id}님! 로그인 성공!!`;
            resultBox2.style.color = 'blue'
          } else {
            resultBox2.textContent = `아이디 또는 패스워드 오류!!`;
            resultBox2.style.color = 'red'
          }
        });
      }
    </script>
  </body>
</html>