.d-block{
    display:block;
    background-color: blueviolet;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding: 30px;
    margin: 20px;
}

.d-inline{
    display: inline;
    background-color: red;
    border: 1px solid blue;
    width: 50px;
    height: 50px;
    margin: 20px;
   /* padding: 30px; */
}

.d-inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    /*margin: 20px;*/
    /*padding: 30px;*/
    padding: 10px 40px 20px 40px;
    margin: 10px;
}


.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid gray;
}

.border{
    border-width: 10px solid black;
    border-style: dotted;
    border-color: aqua;


}

.box-sizing{
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
}

.content-box {
    box-sizing: content-box;
}

.border-box{
    box-sizing:border-box;
}

.d-none {
    /* display: none; */
    background-color: red;
   }
   .invisible {
    /* visibility: hidden; */
    background-color: orangered;
   }
   .opacity-0 {
    /* opacity: 0; */
    background-color: tomato;
   }

   .square img[alt = '푸']{
    width: 200px;
   }

   .overflow-hidden{
    /*overflow: hidden;*/
    overflow-x: hidden;
   }

   .overflow-auto{
    /*넘치는게 있을때만*/
    overflow: auto;
   }
  
   .overflow-scroll{
    /*콘텐츠가 넘치지 않아도 스크롤 생성*/
    overflow: scroll;
   }

   .overflow-visible{
    overflow: visible;
    overflow: hidden auto;
    
   }
