body{
    height: 1000px;
}
.box{
    display: inline-block;
    width: 400px;
    height: 500px;
    border:1px solid black;
    box-sizing: border-box;
}

.background{
    background-color: aqua;
    background: palegreen;
    background: linear-gradient(black,tomato);
}

.background-image{
    background-image: url('./img/small_img.png');
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;


/* background-position*/
    background-position: center;
    /*
    background-position: centor top;
    background-position: 100px;*/

    background-position: left top;
    background-size: 100px 50px;
    background-size: contain;
    background-attachment: scroll;
    background-attachment: fixed;
    
}